.button {
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  width: 200px; /* Increased width */
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.primary {
  background-color: #2563eb; /* Blue */
  color: white;
}

.secondary {
  background-color: transparent;
  color: black;
  border: 2px solid black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 20px; /* Space between buttons */
}
.danger {
    background-color: #dc2626; /* Red */
  }
  